@import "./bootstrap/bootstrap.scss";

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
}

* {
    font-family: "Montserrat";
}

.btn.btn-secondary:hover {
    background-color: $gray-300;
}

li.nav-item a.text-white:hover {
    color: $gray-300 !important;
}

.modal-container {
    width: 100%;
    height: 100%;
    background: #22222263;
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .main-modal {
        width: 350px;
        height: 160px;
        z-index: 10;
        transition: transform .3s;
        .buttons {
            margin-right: 20px;
        }
    }

    .main-modal.edit-password-modal {
        height: 265px;
        transform: translateY(-25px);
    }

    .main-modal.logout-modal {
        top: 45px;
        height: 165px;
        z-index: 20;
    }

    .main-modal.active-modal {
        transform: translateY(25px);
    }

    .main-modal.edit-password-modal input.form-control::placeholder {
        color: $gray-500;
    }

    .main-modal.edit-password-modal.active-modal {
        transform: translateY(0);
    }

    .main-modal.alert.alert-success.notification {
        height: 85px;
    }

    .close-btn-container {
        .close-btn {
            width: 25px;
            cursor: pointer;
            padding: 5px;
            border: 1px solid $primary;
            border-radius: 2px;
            color: $primary;
            transition: background-color .3s ease-in;
        }

        .close-btn:hover {
            background: $primary;
            color: $white;
        }
    }

    .close-btn-container::after {
        content: '';
        display: table;
        clear: both;
    }
}

.cv-models-container {
    margin: 0 auto;
    top: 120px;
    width: 560px;
    height: calc(495px * 2);
}
.cv-models {
    transform-origin: top left;
    transform: scale(0.4);
    
    .row-one, .row-two {
        width: 1400px;
        display: flex;
    }
}

    .cv {
        position: relative;
        width: 700px;
        transition: filter .3s ease-in;
        h2, h3 {
            font-weight: bolder;
        }
        .icon {
            width: 20px;
            fill: $white;
        }
        cursor: pointer;

        svg.profile-photo, img.profile-photo {
            display: block;
            width: 200px; 
            height:200px; 
            border-radius: 50%;
        }
    }

    .cv.cv-1 {
        .task .task-label {
            font-weight: 600;
        }
        .skills {
            .level {
                width: 150px;
                height: 10px;
                border-radius: 10px;
                position: relative;
            }
            .skill .level::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                border-radius: 10px;
                background: $indigo;
            }

            .skill.skill-one .level::after {
                width: 130px;
            }
            .skill.skill-two .level::after {
                width: 90px;
            }
            .skill.skill-three .level::after {
                width: 70px;
            }
            .skill.skill-four .level::after {
                width: 100px;
            }
        }
    }

    .cv.cv-2 {
        .icon {
            fill: $black;
        }

        .icon.heart-icon {
            width: 25px;
            margin-right: 10px;
        }

        .languages-list, .skills-list {
            .level {
                display: inline-block;
                height: 10px;
                border-radius: 10px;
            }
        }
    }

    .cv.cv-3 {
        .left {
            position: relative;
        }
        .left::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-top: 110px solid $primary;
            border-left: 165px solid $primary;
            border-right: 165px solid transparent;
            border-bottom: 110px solid transparent;
            z-index: 5;
        }

        .left .profile-photo {
            position: relative;
            z-index: 10;
        }

        .right {
            position: relative;
        }

        .right::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 220px solid $blue-200;
            border-left: 665px solid transparent;
            z-index: 3;
        }
        .icon {
            fill: $black;
        }

        h3 {
            border-bottom: 1px solid $black;
        }

        h4 {
            font-weight: bolder;
            text-transform: capitalize;
        }

        .about {
            position: relative;
            z-index: 5;
            h2, h3 {
                font-weight: bolder;
            }
            h3 {
                border: none;
            }
            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }

        .languages-list, .skills-list {
            .level {
                display: inline-block;
                height: 10px;
                border-radius: 10px;
            }
        }
    }

    .cv.cv-4 {
        background: $green-2;
        h3 {
            color: $gray;
        }

        .icon {
            fill: $black;
        }
        .left {
            width: calc(40% + 2px);
        }

        .cv-top .name {
            color: $green-2;
        }

        .cv-bottom {
            top: -2px;
            height: calc(100% - 150px);
        }

        .level {
            width: 150px;
            height: 10px;
            border-radius: 10px;
            position: relative;
        }
        .skill .level::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 10px;
            border-radius: 10px;
            background: $black;
        }

        .skill.skill-one .level::after {
            width: 130px;
        }
        .skill.skill-two .level::after {
            width: 90px;
        }
        .skill.skill-three .level::after {
            width: 70px;
        }
    }


.model-hover-style {
    background-color: #adb5bd00;
    transition: background-color .3s ease-in;
    p {
        font-weight: bold;
        margin: calc(469px/2) 0 0 calc(275px/2);
        transform: translateY(-50%) translateX(-20%);  
    }
    cursor: pointer;

    &.active {
        background-color: #adb5bd46;
    }
}

.cv-form {
    position: relative;
    .cv {
        margin: 0 auto;
        margin-top: 250px;
        width: 90%;
        input::placeholder, textarea::placeholder {
            color: $gray;
        }

        .languages-list {
            .btn.btn-secondary.add-into-list {
                margin-left: 25px;
            }
        }

        .level.bar-level {
            .level-indicator {
                height: 10px;
                background: $indigo;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .left {
            width: 40%;
            .profile-photo {
               margin-right: auto;
               margin-left: auto;
            }
        }

        .right {
            width: 60%;
        }
    }

    .cv.cv-1 {
        .skills {
            .level.bar-level::after {
                width: 0;
            }
            .level.bar-level .level-cursor {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                left: 0;
                top: -2.5px;
                transition: transform .3s ease-in, box-shadow .3s;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 4px $primary !important;
                }
            }
        }
    }
}

.see-button-container {
    background-color: #2222228f;
    bottom: 25px;
    width: 150px;
    color: $white;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        background-color: #2c2c2c;
        color: $primary;
    }

    .eye-icon {
        fill: $white;
        width: 25px;
        transition: fill .3s ease;
        
    }

    &:hover .eye-icon {
        fill: $primary;
    }
}
