@import "./bootstrap/bootstrap.scss";

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
}

* {
    font-family: "Montserrat";
}

.btn.btn-secondary:hover {
    background-color: $gray-300;
}

li.nav-item a.text-white:hover {
    color: $gray-300 !important;
}

.modal-container {
    width: 100%;
    height: 100%;
    background: #22222263;
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .main-modal {
        width: 350px;
        height: 160px;
        z-index: 10;
        transition: transform .3s;
        .buttons {
            margin-right: 20px;
        }
    }

    .main-modal.edit-password-modal {
        height: 265px;
        transform: translateY(-25px);
    }

    .main-modal.logout-modal {
        top: 45px;
        height: 165px;
        z-index: 20;
    }

    .main-modal.active-modal {
        transform: translateY(25px);
    }

    .main-modal.edit-password-modal input.form-control::placeholder {
        color: $gray-500;
    }

    .main-modal.edit-password-modal.active-modal {
        transform: translateY(0);
    }

    .main-modal.alert.alert-success.notification {
        height: 85px;
    }

    .close-btn-container {
        .close-btn {
            width: 25px;
            cursor: pointer;
            padding: 5px;
            border: 1px solid $primary;
            border-radius: 2px;
            color: $primary;
            transition: background-color .3s ease-in;
        }

        .close-btn:hover {
            background: $primary;
            color: $white;
        }
    }

    .close-btn-container::after {
        content: '';
        display: table;
        clear: both;
    }
}

.cv-models-container {
    margin: 0 auto;
    top: 120px;
    width: 560px;
    height: calc(495px * 2);
}
.cv-models {
    transform-origin: top left;
    transform: scale(0.4);
    
    .row-one, .row-two {
        width: 1400px;
        display: flex;
    }
}

    .cv {
        position: relative;
        width: 700px;
        transition: filter .3s ease-in;

        h2, h3 {
            font-weight: bolder;
        }

        .icon {
            width: 20px;
            fill: $white;
        }

        cursor: pointer;

        svg.profile-photo, img.profile-photo {
            display: block;
            width: 200px; 
            height:200px; 
            border-radius: 50%;
        }
    }

    .cv.cv-1 {
        .task .task-label {
            font-weight: 600;
        }
        .skills {
            .level.bar-level {
                width: 150px;
                height: 10px;
                border-radius: 10px;
                position: relative;
            }
            .skill .level::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                border-radius: 10px;
                background: $indigo;
            }

            .skill.skill-one .level::after {
                width: 130px;
            }
            .skill.skill-two .level::after {
                width: 90px;
            }
            .skill.skill-three .level::after {
                width: 70px;
            }
            .skill.skill-four .level::after {
                width: 100px;
            }
        }
    }

    .cv.cv-2 {
        .icon {
            fill: $black;
        }

        .level {
            position: relative;
        }

        .icon.heart-icon {
            width: 25px;
            margin-right: 10px;
        }

        .languages-list, .skills-list {
            .level {
                display: inline-block;
                height: 10px;
                border-radius: 10px;
            }
        }
    }

    .cv.cv-3 {
        .left {
            position: relative;
        }
        .left::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-top: 110px solid $primary;
            border-left: 165px solid $primary;
            border-right: 165px solid transparent;
            border-bottom: 110px solid transparent;
            z-index: 5;
        }

        .left .profile-photo {
            position: relative;
            z-index: 10;
        }

        .right {
            position: relative;
        }

        .right::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 220px solid $blue-200;
            border-left: 665px solid transparent;
            z-index: 3;
        }
        .icon {
            fill: $black;
        }

        h3 {
            border-bottom: 1px solid $black;
        }

        h4 {
            font-weight: bolder;
            text-transform: capitalize;
        }

        .about {
            position: relative;
            z-index: 5;
            h2, h3 {
                font-weight: bolder;
            }
            h3 {
                border: none;
            }
            &::after {
                content: '';
                display: table;
                clear: both;
            }
        }

        .languages-list, .skills-list {
            .level {
                display: inline-block;
                height: 10px;
                border-radius: 10px;
            }
        }
    }

    .cv.cv-4 {
        background: $green-2;
        h3 {
            color: $gray;
        }

        .icon {
            fill: $black;
        }
        .left {
            width: calc(40% + 2px);
        }

        .cv-top {
            .name {
                color: $green-2;
            }
            .work {
                font-weight: bold;
            }
        }

        .cv-bottom {
            top: -2px;
            height: calc(100% - 150px);
        }

        .level.bar-level {
            width: 150px;
            height: 10px;
            border-radius: 10px;
            position: relative;
        }
        .skill .level::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 10px;
            border-radius: 10px;
            background: $black;
        }

        .skill.skill-one .level::after {
            width: 130px;
        }
        .skill.skill-two .level::after {
            width: 90px;
        }
        .skill.skill-three .level::after {
            width: 70px;
        }
    }


.model-hover-style {
    background-color: #adb5bd00;
    transition: background-color .3s ease-in;
    p {
        font-weight: bold;
        margin: calc(469px/2) 0 0 calc(275px/2);
        transform: translateY(-50%) translateX(-20%);  
    }
    cursor: pointer;

    &.active {
        background-color: #adb5bd46;
    }
}

.cv-form {
    position: relative;
    .cv {
        margin: 0 auto;
        margin-top: 120px;
        width: 85%;
        input::placeholder, textarea::placeholder {
            color: $gray;
        }

        .languages-list {
            .btn.btn-secondary.add-into-list {
                margin-left: 25px;
            }
        }

        .justify-content-between input {
            width: 48%;
        }

        .level.bar-level {
            .level-indicator {
                height: 10px;
                background: $indigo;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
        .level.bar-level .level-cursor {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            left: 0;
            top: -5px;
            transition: transform .3s ease-in, box-shadow .3s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 4px $primary !important;
            }
        }

        .left {
            width: 40%;
            .profile-photo {
               margin-right: auto;
               margin-left: auto;
            }
        }

        .right {
            width: 60%;
        }
    }

    .cv.cv-1 {
        .skills {
            .skills-list-left, .skills-list-right {
                width: 48%;
            }
            .level.bar-level::after {
                width: 0;
            }

            input {
                width: 100%;
            }
        }
    }

    .cv.cv-2 {
        margin-left: auto !important;

        .languages-list {
            .language, .skill {
                margin-bottom: 10px;
            }
            .btn.btn-secondary.add-into-list {
                margin-left: unset;
            }
        }

        .languages-list .btn.btn-secondary.add-into-list, 
        .skills-list .btn.btn-secondary.add-into-list {
            margin-top: 10px;
        }

        .experiences {
            .date {
                margin-bottom: 0;
            }
            .experience{
                margin-bottom: 15px;
            }
            .task.list {
                position: relative;
                textarea {
                    margin-bottom: 10px;
                }
                .btn.btn-secondary.add-into-list {
                    margin-left: 52%;
                }
            }   
        }

        .level.bar-level {
            width: 150px !important;
            position: relative;
            background: $gray-200 !important;

            .level-indicator {
                background: $gray;
            }
        }
    }

    .cv.cv-3 {
        transform: translateY(-100px);
        .left {
            div.profile-photo {
                color: $black;
            }

            .btn.btn-secondary.add-into-list {
                background: $gray-400 !important;
            }

            .btn.btn-secondary.add-into-list:hover {
                background-color: $gray-500 !important;
            }
        }

        span.name {
            margin-left: 10px;
        }

        .graduation {
            .etablissement {
                margin-right: 20px;
            }
        }

        .experiences {
            .experience {
                margin-bottom: 15px;

                textarea {
                    margin-bottom: 10px;
                }

                .btn.btn-secondary.add-into-list {
                    margin-left: 52%;
                }

                .date {
                    margin-bottom: 0;
                }
            }
        }
        
        .level.bar-level {
            width: 150px !important;
            position: relative;
            background: $gray !important;

            .level-indicator {
                background-color: $primary;
            }

            .level-cursor {
                background-color: $white !important;
            }
            .level-cursor:hover {
                transform: scale(1.1);
                box-shadow: 0 0 4px $gray !important;
            }
        }
        
        .right::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border-top: 177px solid #9ec5fe;
            border-left: 1479px solid transparent;
            z-index: 3;
        }


    }

    form.cv-3 {
        div.profile-photo {
            margin-bottom: 60px !important;
        }
    }

    div.cv.cv-3, div.cv.cv-2 {
        .languages-list .language, .skills-list .skill {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .level.bar-level {
            margin-top: 5px;
        }
    }

    .cv.cv-4 {
        
        .left {
            div.profile-photo {
                label {
                    color: $black;
                }
            }

            .languages {
                .btn.btn-secondary.add-into-list {
                    margin-left: 0;
                }
            }
        }
        .level.bar-level::after {
            width: 0;
        }

        .level-indicator {
            background-color: $black !important;
        }

        .right {
            .experience {
                margin-bottom: 15px;

                textarea {
                    margin-bottom: 10px;
                }

                .btn.btn-secondary.add-into-list {
                    margin-left: 52%;
                }

                .date {
                    margin-bottom: 0;
                }
            }
        }
    }

    form.cv.cv-4 {
        .cv-top {
            h2 {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            .work {
                width: 45%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    div.cv-4 {
        .cv-top {
            .name {
                display: block !important;
            }
        }
    }
}

.cv-form.cv-3-form::before {
    content: "";
    display: block;
    position: relative;
    top: 120px;
    background: $gray-900;
    z-index: 5;
    height: 100px;
    width: 7.5%;
}

.see-button-container, .console-container {
    background-color: #2222228f;
    bottom: 25px;
    width: 150px;
    color: $white;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        background-color: #2c2c2c;
        color: $primary;
    }

    .eye-icon, .save-icon, .download-icon, .check-icon {
        fill: $white;
        width: 25px;
        transition: fill .3s ease;
        
    }

    .check-icon {
        fill: $gray-500;
    }

    .check-icon.active {
        fill: $white;
    }

    &:hover .eye-icon, .save-icon:hover, .download-icon:hover, .check-icon.active:hover {
        fill: $primary;
    }
}

.close-icon-container {
    top: 80px;
    right: 2%;
    background: #adb5bd46;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    transition: background .3s ease;

    .close-icon {
        stroke: $secondary;
        width: 25px;
        transition: stroke .3s ease;
    }

    &:hover {
        background: $danger;
    }
}
