@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

html {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Montserrat";
}

.btn.btn-secondary:hover {
    background-color: ;
}
